@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
p {
  color: rgb(25, 25, 70);
}
h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: "inter";
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
div {
  width: 100%;
  max-width: 178px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
